body 
{   
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    text-align: center;
    min-width: 333px;
}

form div 
{
    margin-bottom: 5px;
}

form label 
{
    display: inline-block;
    min-width: 200px;
}

form button 
{
    margin-left: 200px;
}

form li 
{
    margin-bottom: 1em;
}

img
{
    width: 16px;
}

h1, h2
{
    background-color: #ededed;
    border-bottom: 1px solid #DB4105;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

ul.results 
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
ul.results > li 
{
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    max-width: 250px;
    -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
}
ul.results > li:hover 
{
    background-color: #f2f2f2;
    cursor: pointer;
    box-shadow: 0 0 5px #fe7515;
    border: 1px solid #DB4105;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;

}

ul
{
    text-align: center;  
    margin: 0;
}

ul li
{
    display: inline-block;
    text-align: center;
    top: 0;
}

ul li a
{
    text-decoration: none;
    color: black;
    font-size: 16px;
    border: 2px purple;
}

.navigation ul
{
   border: 2px solid red;
   width: 500px;
}

.navigation
{
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.navigation li
{
    background-color: #ededed;
    padding: 10px;
    margin: 0;
    width: calc(33.3% - 20px);
    border-bottom: 1px solid #DB4105;
}

.navigation li a
{
    padding: 5px;
    color: #DB4105;
    font-weight: bold;
    transition: all 0.2s ease;
    opacity: 1.0;
}

.navigation li a:hover
{
    opacity: 0.5;
}

select
{
    border: 1px solid #DB4105;
    padding: 3px;
    outline: none;
   font-size: 20px;
   margin: 5px;
   border-radius: 3px;
}

form
{
    text-align: match-parent;
    margin-bottom: 10px;
}

.question
{
    border-bottom: 1px solid #DB4105;
    border-top: 1px solid #DB4105;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

input[type=text], textarea
{
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   outline: none;
   font-size: 20px;
   padding: 5px;
   margin: 5px;
   border: 1px solid #DDDDDD;
   border-radius: 3px;
}

input[type=text]:focus, textarea:focus 
{
   box-shadow: 0 0 5px #fe7515;
   border: 1px solid #DB4105;
}

label
{
    font-size: 20px;
}

.observation
{
   border: 1px solid #DB4105;
   padding: 10px;
   background-color: #ededed;
}
