body {
    font-family: Verdana;
    font-size: 10pt;
}

form div {
    margin-bottom: 5px;
}

form label {
    display: inline-block;
    min-width: 200px;
}

form button {
    margin-left: 200px;
}

form li {
    margin-bottom: 1em;
}

img{
    width: 16px;
}
ul.exams {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
ul.exams > li {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    max-width: 250px;
}
ul.exams > li:hover {
    background-color:gray;
    border-color: Highlight;
    cursor: pointer;
}
